.content {
    &__title {
        max-width: 600px;
        margin: auto;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;

        &--image {
            margin-top: 78px;
            margin-bottom: 40px;
        }
        &--images {
            width: 62.5px;
            height: 60px;
            margin-top: -35px;
            margin-left: -4px;
        }
        &--image-line2 {
            width: 161px;
            height: 26px;
            position: absolute;
            margin-top: 48px;
            margin-left: 327px;
        }
        &--image-oval {
            width: 230px;
            height: 64px;
            margin-top: -8px;
            margin-left: 329px;
            position: absolute;
        }

        &--body {
            font-family: "Circular", sans-serif;

            .h1-title {
                color: $white_color;
                line-height: 48px;
                font-size: 40px;
                font-weight: 700;
            }

            .p-title {
                color: $thistle;
                line-height: 24px;
                font-size: 18px;
                font-weight: 400;
                margin-top: 16px;
                margin-bottom: 24px;
            }

            .span-title {
                gap: 8px;
                color: $button_color;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .title_whatnew {
                display: flex;
                text-align: center;
                justify-content: center;
                justify-items: center;
            }
        }
    }
}
.funded-grants {
    width: 1640px;
    margin-left: 80px;
}
.mt {
    margin-top: 48px;
}
.what-new {
    margin-top: 160px;
}
.what-new1 {
    width: 600px;
    height: 160px;
    margin-top: 160px;
}
.frequentlyfqa {
    display: inline;
    justify-items: center;
    margin-top: 80px;
}
.frequently {
    display: flex;
    justify-items: center;
    justify-content: center;
}
.frequently__fqa {
    gap: 24px;
    width: 808px;
    display: inline;
    justify-content: center;
    justify-items: center;
    &--seprator {
        height: 1px;
        background-color: $color-bg-secondary;
    }
    &--row {
        margin-top: 25px;
        margin-bottom: 16px;
        display: flex;
        position: relative;
        & > h3 {
            margin-top: 80px;
            margin-bottom: 40px;
        }
        & > p {
            font-weight: 450;
            font-size: 18px;
            color: $white_color;
            line-height: 24px;
        }
        & > img {
            position: absolute;
            right: 10px;
            width: 24px;
            height: 24px;
        }
    }
}
