.footer {
    // height: 180px;
    margin-top: 24px;
    position: relative;
    &__logo{
    }
    &-menu {
    
        display: flex;
        align-items: center;
        justify-content: left;
        text-decoration: none;
        list-style-type: none;

        &-item {
            text-decoration: none;
            
        }
        
        &-link {
            font-family: 'Space Mono', monospace;
            text-decoration: none;
            color: $text_header;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-transform: capitalize;
            cursor: pointer;
            margin-left: 32px;
        }
        
        &-button {
            background-color: $button_color;
            padding: 16px 12px;
            font-family: 'Circular', sans-serif;
            font-size: 16px;
            color: $white_color;
            border-radius: 7.29px;
            cursor: pointer;
            line-height: 24px;
            font-weight: 500;
            outline: none;

            &:hover {
                background-color: #4f4dff;
            }
        }
    }
    &-icon{
        
        & > img{
            margin-left: 32px;
        }
    }
}

.footer__container {
    max-width: 1440px;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 108px;
}