.content__container {
    max-width: 808px;
    margin-top: 80px;
}
.container {
    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 88px;
        color: $white_color;
        text-align: center;
        font-family: Circular, sans-serif;
    }
    &__titledis {
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        color: $white_color;
        text-align: center;
        font-family: Circular, sans-serif;
    }
    &__titledis1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        color: $white_color;
        text-align: left;
        font-family: Circular, sans-serif;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $text_header;
        text-align: center;
        font-family: Circular, sans-serif;
    }
    &__text1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $text_header;
        text-align: left;
        font-family: Circular, sans-serif;
    }

    &__linetext {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: auto;
        right: 27%;
    }

    &__button {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

        &--discover,
        &--apply {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            font-family: "Circular", sans-serif;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        &--discover {
            background-color: $button_color_1;
            color: $white_color;
            padding: 12px 39px;
            border-radius: 7.29px;
        }

        &--apply {
            background-color: $button_color;
            color: $white_color;
            padding: 12px 39px;
            border-radius: 7.29px;
            display: flex;
            align-items: center;
            gap: 12px;
        }
        &--apply1 {
            background-color: $button_color;
            color: $white_color;
            padding: 12px 39px;
            border-radius: 7.29px;
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    &__quantity {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--item {
            font-family: "Space Mono", monospace;
            text-align: center;

            .number-quantity {
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                color: $white_color;
            }

            .text-quantity {
                font-weight: 400;
                line-height: 24px;
                font-size: 18px;
                color: $text_header;
            }
        }
    }
}
.blog-funded-project {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-left: 32px;
    .blog-funded {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin-right: 24px;
        // margin-top: 80px;
        &__card {
            width: 392px;
            height: 440px;
            border-radius: 16px;
            border: none;
            background-color: $color-bg-secondary;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            cursor: pointer;
            &--content {
                width: 100%;
                gap: 16px;
                text-align: left;
                & > img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 16px;
                }
            }
            &--link {
                text-decoration: none;
                color: inherit;
                display: block;
            }

            &--icon {
                position: absolute;
                bottom: 24px;
                left: 24px;
                // margin-left: 24px;
                // margin-top: 24px;
                display: flex;
                & > img {
                    border-radius: 100%;
                    margin-right: -12px;
                    width: 32px;
                    height: 32px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__card1 {
            width: 392px;
            height: 250px;
            border-radius: 16px;
            border: none;
            background-color: $color-bg-img;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &--content {
                position: absolute;
                left: 129px;
                top: 86px;
                width: 100%;
                gap: 16px;
                text-align: left;
                & > img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &--icon {
                position: absolute;
                top: 16px;
                right: 16px;
                // margin-left: 24px;
                // margin-top: 24px;
                display: flex;
                & > img {
                    border-radius: 100%;
                    margin-right: -12px;
                    width: 44px;
                    height: 44px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__text {
            font-size: 16px;
            font-weight: 450;
            line-height: 24px;
            color: $white_color;
        }
        &__text1 {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 450;
            line-height: 24px;
            color: $white_color;
        }
    }
    .blog-funded + .blog-funded {
        .blog-funded__card1 {
            background-color: $white_color;
        }
        // margin-top: 24px;
    }
    .project1 {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin-right: 24px;
        // margin-top: 80px;
        &__card1 {
            width: 253px;
            height: 178px;
            border-radius: 16px;
            border: none;
            background-color: $white_color;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &--content {
                position: absolute;
                left: 82.5px;
                top: 46px;
                width: 100%;
                gap: 16px;
                text-align: left;
                & > img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &--icon {
                position: absolute;
                top: 16px;
                right: 16px;
                // margin-left: 24px;
                // margin-top: 24px;
                display: flex;
                & > img {
                    border-radius: 100%;
                    margin-right: -12px;
                    width: 44px;
                    height: 44px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__text {
            font-size: 16px;
            font-weight: 450;
            line-height: 24px;
            color: $white_color;
        }
    }
    .project + .project {
        .project__card1 {
            background-color: $white_color;
        }
        // margin-top: 24px;
    }
}
@media (max-width: 768px) {
    .content__container {
        display: inline;
    }
    .container {
        &__button {
            display: inline;
            &--discover {
                margin-top: 40px;
                margin-bottom: 24px;
                width: 50%;
                margin-left: 25%;
            }
            &--apply1 {
                width: 50%;
                margin-left: 25%;
            }
        }
        &__quantity {
            display: inline;
            &--item {
                margin-top: 40px;
            }
        }
    }
    .blog {
        margin-left: 20%;
    }
}
