.badges {
  /* Paragraph Medium */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  color: var(--color-text-primary);

  padding: 4px 16px;
  border-radius: 16px;
  display: inline-block;
}

.badges-primary {
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-primary);
}

.badges-brand {
  background-color: var(--color-accent-brand);
}

.badges-green {
  background-color: var(--color-accent-green);
}

.badges-red {
  background-color: var(--color-accent-red);
}

.badges > .badges-icon-right {
  margin-left: 10px;
}

.badges > .badges-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 16px;
  overflow: hidden;
}
