/* Common */
.card-subtext {
  font-family: var(--font-mono);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-text-secondary);
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  text-align: left;
}

/* Card */

.card,
.card-blog {
  background-color: var(--color-bg-secondary);
  border-radius: 16px;
  border: 1px solid var(--gradient-border);
  transition: background-color 0.3s;
  width: 256px;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.card:hover,
.card-blog:hover {
  background-color: var(--color-bg-secondary-hover);
}

.card > .card-content,
.card-blog > .card-content {
  padding: 16px;
  flex: 1;
}

.card > .card-footer,
.card-blog > .card-footer {
  padding: 16px;
}

/* Blog card overide */

.card-blog {
  height: unset;
}

.card-blog > .card-content {
  height: 128px;
}

.card-blog > .card-content > *:not(:last-child) {
  margin-bottom: 8px;
}

.card .avatar-group > .avatar,
.card-blog .avatar-group > .avatar {
  border: 2px solid var(--color-bg-secondary);
}

/* Card list */

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-list > *:not(:last-child) {
  margin-bottom: 24px;
}

/* .card-list > .card,
.card-list > .card-blog {
} */

.card-list--horizontal {
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 -12px;
}

.card-list--horizontal > .card,
.card-list--horizontal > .card-blog {
  padding: 0 12px;
}

/* Process card */

.card-process {
  padding: 24px;
  /* width: 272px; */
  height: 320px;
  border-radius: 16px;
  border: 1px solid var(--gradient-border);
  background-color: var(--color-bg-secondary);
}

.card-process > .card-process-header {
  margin-bottom: 12.9px;
}

.card-process-content {
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: -0.006em;
  text-align: left;
}

.card-process-num {
  font-family: var(--font-number);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  display: inline-block;
}

.card-process-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  text-align: left;
  margin-bottom: 12.9px;
}

.card-rotate-left {
  transform: rotate(-2deg);
}

.card-rotate-right {
  transform: rotate(2deg);
}

.card-process-sketch {
  position: absolute;
  top: 0;
  transform: translateY(-70%);
  left: 0;
}
