/* Space Mono font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* Nanum Pen Script font */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

/* CircularStd font */
@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
}
