@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  border: 3px none var(--medium-slate-blue);
  background-color: #1c1c28;
  color: #c8c7d8;
  letter-spacing: -0.022em;
  background-image: url(../assets/images/background.svg);
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-size: 1440px;
  background-attachment: scroll;
  font-family: Circular, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}

.container {
  max-width: 1376px;
  margin: auto;
}

.container1 {
  max-width: 1376px;
  margin: auto;
}

.header {
  margin-top: 24px;
  position: relative;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
.header-menu-item {
  text-decoration: none;
}
.header-menu-link {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #C8C7D8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 24px;
  text-transform: capitalize;
  cursor: pointer;
}
.header-menu-button {
  background-color: #6966FF;
  padding: 16px 12px;
  font-family: "Circular", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 7.29px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  outline: none;
}
.header-menu-button:hover {
  background-color: #4f4dff;
}
.header-menu-button1 {
  background-color: #6966FF;
  padding: 16px 12px;
  font-family: "Circular", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 7.29px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  outline: none;
  margin-right: 24px;
}
.header-menu-button1:hover {
  background-color: #4f4dff;
}

.header__toggle {
  display: none;
  margin-right: 32px;
}

.header__container {
  max-width: 1376px;
  height: 72px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .header__toggle {
    display: block;
    cursor: pointer;
  }
  .header-menu {
    width: 100%;
    height: auto;
    background-color: rgb(35, 35, 52);
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .header-menu-button {
    display: none;
  }
  .header-menu-item {
    margin: 16px 0;
  }
  .header-menu-link {
    margin-right: 0;
    text-align: center;
  }
  .header__container {
    flex-direction: flex;
    align-items: flex-start;
  }
}
.content__container {
  max-width: 808px;
  margin-top: 80px;
}

.container__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  color: #FFFFFF;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container__titledis {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container__titledis1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: left;
  font-family: Circular, sans-serif;
}
.container__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #C8C7D8;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container__text1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #C8C7D8;
  text-align: left;
  font-family: Circular, sans-serif;
}
.container__linetext {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  right: 27%;
}
.container__button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.container__button--discover, .container__button--apply {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: "Circular", sans-serif;
  cursor: pointer;
}
.container__button--discover:hover, .container__button--apply:hover {
  opacity: 0.8;
}
.container__button--discover {
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
  padding: 12px 39px;
  border-radius: 7.29px;
}
.container__button--apply {
  background-color: #6966FF;
  color: #FFFFFF;
  padding: 12px 39px;
  border-radius: 7.29px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.container__button--apply1 {
  background-color: #6966FF;
  color: #FFFFFF;
  padding: 12px 39px;
  border-radius: 7.29px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.container__quantity {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__quantity--item {
  font-family: "Space Mono", monospace;
  text-align: center;
}
.container__quantity--item .number-quantity {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}
.container__quantity--item .text-quantity {
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  color: #C8C7D8;
}

.blog-funded-project {
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-left: 32px;
}
.blog-funded-project .blog-funded {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-right: 24px;
}
.blog-funded-project .blog-funded__card {
  width: 392px;
  height: 440px;
  border-radius: 16px;
  border: none;
  background-color: rgb(57, 57, 83);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.blog-funded-project .blog-funded__card--content {
  width: 100%;
  gap: 16px;
  text-align: left;
}
.blog-funded-project .blog-funded__card--content > img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
.blog-funded-project .blog-funded__card--link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.blog-funded-project .blog-funded__card--icon {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
}
.blog-funded-project .blog-funded__card--icon > img {
  border-radius: 100%;
  margin-right: -12px;
  width: 32px;
  height: 32px;
}
.blog-funded-project .blog-funded__card--icon > img:last-child {
  margin-right: 0;
}
.blog-funded-project .blog-funded__card1 {
  width: 392px;
  height: 250px;
  border-radius: 16px;
  border: none;
  background-color: rgb(35, 35, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.blog-funded-project .blog-funded__card1--content {
  position: absolute;
  left: 129px;
  top: 86px;
  width: 100%;
  gap: 16px;
  text-align: left;
}
.blog-funded-project .blog-funded__card1--content > img {
  max-width: 100%;
  height: auto;
}
.blog-funded-project .blog-funded__card1--icon {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
}
.blog-funded-project .blog-funded__card1--icon > img {
  border-radius: 100%;
  margin-right: -12px;
  width: 44px;
  height: 44px;
}
.blog-funded-project .blog-funded__card1--icon > img:last-child {
  margin-right: 0;
}
.blog-funded-project .blog-funded__text {
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  color: #FFFFFF;
}
.blog-funded-project .blog-funded__text1 {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 450;
  line-height: 24px;
  color: #FFFFFF;
}
.blog-funded-project .blog-funded + .blog-funded .blog-funded__card1 {
  background-color: #FFFFFF;
}
.blog-funded-project .project1 {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-right: 24px;
}
.blog-funded-project .project1__card1 {
  width: 253px;
  height: 178px;
  border-radius: 16px;
  border: none;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.blog-funded-project .project1__card1--content {
  position: absolute;
  left: 82.5px;
  top: 46px;
  width: 100%;
  gap: 16px;
  text-align: left;
}
.blog-funded-project .project1__card1--content > img {
  max-width: 100%;
  height: auto;
}
.blog-funded-project .project1__card1--icon {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
}
.blog-funded-project .project1__card1--icon > img {
  border-radius: 100%;
  margin-right: -12px;
  width: 44px;
  height: 44px;
}
.blog-funded-project .project1__card1--icon > img:last-child {
  margin-right: 0;
}
.blog-funded-project .project1__text {
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  color: #FFFFFF;
}
.blog-funded-project .project + .project .project__card1 {
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .content__container {
    display: inline;
  }
  .container__button {
    display: inline;
  }
  .container__button--discover {
    margin-top: 40px;
    margin-bottom: 24px;
    width: 50%;
    margin-left: 25%;
  }
  .container__button--apply1 {
    width: 50%;
    margin-left: 25%;
  }
  .container__quantity {
    display: inline;
  }
  .container__quantity--item {
    margin-top: 40px;
  }
  .blog {
    margin-left: 20%;
  }
}
.filter {
  justify-content: center;
  display: flex;
  justify-items: center;
  margin-top: 40px;
}

.filter__button {
  gap: 24px;
  display: flex;
}
.filter__button .button {
  width: 395px;
  gap: 4px;
}
.filter__button .button__all {
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}
.filter__button .button__open {
  background-color: transparent;
}
.filter__button .button__funded {
  background-color: transparent;
}
.filter__button .button__complete {
  background-color: transparent;
}
.filter__button .button__open, .filter__button .button__funded, .filter__button .button__complete, .filter__button .button__all {
  cursor: pointer;
  gap: 4px;
  font-size: 16px;
  border-radius: 7.29px;
  padding: 12px 16px;
  border: none;
  color: #FFFFFF;
  border: none;
  border: 0;
}
.filter__button .button__open:hover, .filter__button .button__funded:hover, .filter__button .button__complete:hover, .filter__button .button__all:hover {
  background-color: rgb(57, 57, 83);
}

.discover {
  justify-content: center;
  display: inline;
  justify-items: center;
}
.discover .discover__frame {
  margin-top: 80px;
  gap: 24px;
  display: flex;
  justify-items: center;
  justify-content: center;
}
.discover .discover__frame > a {
  text-decoration: none;
}
.discover .discover__frame--content {
  padding: 24px;
  width: 808px;
  border-radius: 16px;
  gap: 32px;
  opacity: 0px;
  background-color: rgb(57, 57, 83);
  display: flex;
  background-color: rgb(57, 57, 83);
}
.discover .discover__frame--content1 {
  padding: 24px;
  width: 808px;
  border-radius: 16px;
  gap: 32px;
  opacity: 0px;
  background-color: rgb(57, 57, 83);
  background-color: rgb(57, 57, 83);
  display: flex;
}
.discover .discover__frame--content2 {
  padding: 24px;
  width: 808px;
  border-radius: 16px;
  gap: 32px;
  opacity: 0px;
  background-color: rgb(57, 57, 83);
  display: flex;
  background-color: rgb(57, 57, 83);
}
.discover .discover__frame--content3 {
  padding: 24px;
  width: 808px;
  border-radius: 16px;
  gap: 32px;
  opacity: 0px;
  background-color: rgb(57, 57, 83);
  display: flex;
  background-color: rgb(57, 57, 83);
}
.discover__frame + .discover__frame {
  margin-top: 24px;
}
.discover .badge {
  cursor: pointer;
  width: 85px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  gap: 16px;
  border-radius: 100px;
  border: 1px;
  opacity: 0px;
  margin-top: 24px;
  background-color: #1c1c28;
  display: flex;
}
.discover .badge__text {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #FFFFFF;
}
.discover .badge1 {
  background-color: #6966FF;
}
.discover .badge2 {
  width: 136px;
  background-color: #16b57f;
}
.discover .badge2 > img {
  margin-left: 8px;
  margin-top: 4px;
}
.discover .badge-funded {
  width: 148px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  gap: 16px;
  border-radius: 100px;
  border: 1px;
  opacity: 0px;
  margin-top: 24px;
  margin-left: 32px;
  display: flex;
}
.discover .badge-funded > img {
  margin-bottom: 4px;
  margin-left: 8px;
}

.content-title {
  width: 643px;
  gap: 8px;
  opacity: 0px;
  margin-left: 24px;
  background-color: rgb(57, 57, 83);
  display: inline;
}
.content-title__fun1 {
  font-family: Circular Std;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.019em;
  text-align: left;
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}
.content-title__fun2 {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  margin: 8px 8px 0px 0px;
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}
.content-title__fun3 {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: flex;
  margin: 8px 8px 0px 0px;
  background-color: rgb(57, 57, 83);
  color: #C8C7D8;
}
.content-title__fun5 {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  margin: 0px 8px 0px 0px;
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}

.content-title1 {
  width: 550px;
  gap: 8px;
  opacity: 0px;
  margin-left: 24px;
  background-color: rgb(57, 57, 83);
  display: inline;
}
.content-title1__fun1 {
  font-family: Circular Std, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.019em;
  text-align: left;
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}
.content-title1__fun2 {
  font-family: Circular Std, sans-serif;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  margin: 8px 8px 0px 0px;
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}
.content-title1__fun3 {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: flex;
  margin: 8px 8px 0px 0px;
  background-color: rgb(57, 57, 83);
  color: #C8C7D8;
}
.content-title1__fun5 {
  font-family: Circular Std, sans-serif;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  margin: 0px 8px 0px 0px;
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}

.badge-funded1 {
  width: 23%;
  height: 32px;
  gap: 16px;
  border-radius: 100px;
  border: 1px;
  opacity: 0px;
  margin-left: 32px;
  display: flex;
}
.badge-funded1 > img {
  height: 20px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.badge__text--funded {
  display: block;
}

.badge__text--funded1 {
  display: none;
}

@media (max-width: 376px) {
  .discover {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discover .discover__frame {
    width: 100%;
    margin-top: 24px;
    display: flex;
  }
  .discover .discover__frame--content, .discover .discover__frame--content1, .discover .discover__frame--content2, .discover .discover__frame--content3 {
    width: 272px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .discover .discover__frame--content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .discover .discover__frame--content3 {
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .content-title1 {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .content-title1__fun1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.1%;
  }
  .content-title1__fun2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
  }
  .content-title1__fun3 {
    font-size: 14px;
    line-height: 20px;
  }
  .badge-funded1 {
    margin-left: 0;
    justify-content: center;
  }
  .badge-funded1 > img {
    display: none;
  }
  .badge__text--funded {
    display: none;
  }
  .badge__text--funded1 {
    display: block;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .discover {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discover .discover__frame {
    width: 100%;
    margin-top: 24px;
    display: flex;
  }
  .discover .discover__frame--content, .discover .discover__frame--content1, .discover .discover__frame--content2 {
    width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .discover .discover__frame--content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .badge__text--funded {
    display: none;
  }
  .badge__text--funded1 {
    display: block;
  }
  .badge-funded1 {
    width: 46%;
  }
  .content-title1 {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .content-title1__fun1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1.1%;
  }
  .content-title1__fun2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
  }
  .content-title1__fun3 {
    font-size: 14px;
    line-height: 20px;
  }
  .badge-funded1 {
    margin-left: 0;
    justify-content: center;
  }
  .badge-funded1 > img {
    display: none;
  }
  .badge__text--funded {
    font-size: 12px;
  }
}
/* Space Mono font */
/* Nanum Pen Script font */
/* CircularStd font */
@font-face {
  font-family: "CircularStd";
  src: url("../../../assets/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../../../assets/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../../../assets/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* Typography */
h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.021em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.022em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}

.text--paragraph-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--paragraph-md {
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}
.text--paragraph-sm {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--mono-xl {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: "Space Mono", monospace;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--mono-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #c8c7d8;
  text-align: center;
  font-family: "Space Mono", monospace;
}
.text--mono-md {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: rgb(165, 158, 186);
  text-align: left;
  font-family: "Space Mono", monospace;
}
.text--mono-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: "Space Mono", monospace;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}
.text--label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--link-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #6966ff;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text-brand {
  color: #6966ff;
}
.text-primary {
  color: #ffffff;
}
.text-secondary {
  color: #c8c7d8;
}
.text-tertiary {
  color: rgb(165, 158, 186);
}

@media all and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
.content__title {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.content__title--image {
  margin-top: 78px;
  margin-bottom: 40px;
}
.content__title--images {
  width: 62.5px;
  height: 60px;
  margin-top: -35px;
  margin-left: -4px;
}
.content__title--image-line2 {
  width: 161px;
  height: 26px;
  position: absolute;
  margin-top: 48px;
  margin-left: 327px;
}
.content__title--image-oval {
  width: 230px;
  height: 64px;
  margin-top: -8px;
  margin-left: 329px;
  position: absolute;
}
.content__title--body {
  font-family: "Circular", sans-serif;
}
.content__title--body .h1-title {
  color: #FFFFFF;
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
}
.content__title--body .p-title {
  color: #c8c7d8;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 24px;
}
.content__title--body .span-title {
  gap: 8px;
  color: #6966FF;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.content__title--body .title_whatnew {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.funded-grants {
  width: 1640px;
  margin-left: 80px;
}

.mt {
  margin-top: 48px;
}

.what-new {
  margin-top: 160px;
}

.what-new1 {
  width: 600px;
  height: 160px;
  margin-top: 160px;
}

.frequentlyfqa {
  display: inline;
  justify-items: center;
  margin-top: 80px;
}

.frequently {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.frequently__fqa {
  gap: 24px;
  width: 808px;
  display: inline;
  justify-content: center;
  justify-items: center;
}
.frequently__fqa--seprator {
  height: 1px;
  background-color: rgb(57, 57, 83);
}
.frequently__fqa--row {
  margin-top: 25px;
  margin-bottom: 16px;
  display: flex;
  position: relative;
}
.frequently__fqa--row > h3 {
  margin-top: 80px;
  margin-bottom: 40px;
}
.frequently__fqa--row > p {
  font-weight: 450;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
}
.frequently__fqa--row > img {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #6966ff;
  color: #ffffff;
}
.avatar__count {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-group {
  display: flex;
  align-items: center;
}
.avatar-group > .avatar {
  margin-right: -18px;
  border: 2px solid rgb(57, 57, 83);
}
.avatar-group > .avatar:last-child {
  margin-right: 0;
}

.cta_wrapper {
  justify-content: center;
  display: flex;
  justify-items: center;
  margin-top: 40px;
  padding: 80px 108px;
}

.cta {
  width: 1224px;
  background: linear-gradient(325.79deg, #6966ff 24.5%, rgba(105, 102, 255, 0.36) 117.69%);
  border-radius: 16px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 40px 16px;
  display: inline;
  justify-items: center;
}
.cta__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  text-align: center;
  margin-top: 4px;
  color: #ffffff;
}
.cta__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #ffffff;
}
.cta .btn.btn-cta {
  cursor: pointer;
  margin-top: 40px;
  background-color: #fff;
  color: #6966ff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 7.29px;
  line-height: 20px;
  letter-spacing: -0.011em;
  text-align: center;
  padding: 12px 16px;
  gap: 12px;
}

.btn__icon {
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

@media all and (max-width: 372px) {
  .cta {
    width: 272px;
    height: 256px;
  }
  .cta .btn.btn-cta {
    margin: 40px 0px 0px 0px;
    display: flex;
    width: 240px;
    height: 40px;
    padding: 10px 50px;
  }
}
.footer {
  margin-top: 24px;
  position: relative;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  list-style-type: none;
}
.footer-menu-item {
  text-decoration: none;
}
.footer-menu-link {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #C8C7D8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 32px;
}
.footer-menu-button {
  background-color: #6966FF;
  padding: 16px 12px;
  font-family: "Circular", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 7.29px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  outline: none;
}
.footer-menu-button:hover {
  background-color: #4f4dff;
}
.footer-icon > img {
  margin-left: 32px;
}

.footer__container {
  max-width: 1440px;
  height: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 108px;
}

@media all and (max-width: 876px) {
  .footer-menu {
    display: inline;
  }
  .footer-menu-item {
    text-decoration: none;
    margin-bottom: 24px;
  }
  .footer__container {
    display: inline;
    justify-content: center;
    justify-items: center;
  }
}
.btnfunded {
  justify-content: left;
  display: flex;
  justify-items: center;
  padding-left: 108px;
  margin-top: 40px;
}

.btnfunded__button {
  gap: 24px;
  display: flex;
}
.btnfunded__button .button {
  width: 395px;
  gap: 4px;
}
.btnfunded__button .button__all {
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
}
.btnfunded__button .button__technical, .btnfunded__button .button__governace, .btnfunded__button .button__growth, .btnfunded__button .button__analytics, .btnfunded__button .button__third {
  background-color: transparent;
}
.btnfunded__button .button__all, .btnfunded__button .button__technical, .btnfunded__button .button__governace, .btnfunded__button .button__growth, .btnfunded__button .button__analytics, .btnfunded__button .button__third {
  cursor: pointer;
  gap: 4px;
  font-size: 16px;
  border-radius: 7.29px;
  padding: 12px 16px;
  border: none;
  color: #FFFFFF;
  border: none;
  border: 0;
}
.btnfunded__button .button__all:hover, .btnfunded__button .button__technical:hover, .btnfunded__button .button__governace:hover, .btnfunded__button .button__growth:hover, .btnfunded__button .button__analytics:hover, .btnfunded__button .button__third:hover {
  background-color: rgb(57, 57, 83);
}

.funfilter {
  justify-content: left;
  display: flex;
  justify-items: center;
  padding-left: 108px;
  margin-top: 24px;
}
.funfilter__button {
  height: 20px;
  width: 40px;
  margin-right: 16px;
}
.funfilter__button__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.grants-project {
  justify-content: center;
  justify-items: center;
  display: inline;
}
.grants-project .project {
  justify-content: center;
  justify-items: center;
  gap: 24px;
  display: flex;
  margin-top: 80px;
}
.grants-project .project__card {
  width: 392px;
  height: 560px;
  border-radius: 16px;
  border: none;
  background-color: rgb(57, 57, 83);
  padding: 24px;
}
.grants-project .project__card--content {
  height: auto;
  gap: 16px;
  text-align: left;
  display: inline;
}
.grants-project .project__card--content > img {
  max-width: 100%;
  height: auto;
  margin: -24px -24px 24px -24px;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.grants-project .project__card--icon {
  margin-top: 24px;
  display: flex;
  width: 26px;
  height: 32px;
  margin-top: 24px;
}
.grants-project .project__card--icon > img {
  border-radius: 100%;
  margin-right: -18px;
}
.grants-project .project__card--icon > img:last-child {
  margin-right: 0;
}
.grants-project .project + .project {
  margin-top: 24px;
}

.card__content--img {
  height: 178.98px;
  margin: -24px -24px 24px -24px;
  border-radius: 16px;
  background-color: rgb(35, 35, 52);
  text-align: center;
  display: flex;
}

.card__content--img1 {
  height: 178.98px;
  border-radius: 16px;
  background-color: rgb(35, 35, 52);
  text-align: center;
  display: flex;
}

.card__content--imgs {
  height: 216px;
  margin: -24px -24px 24px -24px;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.card--content__text {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  color: #FFFFFF;
}

.application-project {
  justify-content: center;
  justify-items: center;
  display: inline;
}
.application-project .project {
  position: relative;
  justify-content: center;
  justify-items: center;
  gap: 24px;
  display: flex;
  margin-top: 80px;
}
.application-project .project__img {
  height: auto;
  max-width: 100%;
  position: absolute;
  left: -30%;
  top: -26%;
}
.application-project .project__img1 {
  position: absolute;
  left: -22%;
  bottom: -67%;
}
.application-project .project__img2 {
  position: absolute;
  display: none;
  left: 9%;
  top: -62%;
}
.application-project .project__img3 {
  position: absolute;
  display: none;
  top: -62%;
}
.application-project .project__card {
  width: 392px;
  height: 560px;
  border-radius: 16px;
  border: none;
  margin-right: 24px;
  background-color: rgb(57, 57, 83);
}
.application-project .project__card--content {
  height: auto;
  position: relative;
  gap: 16px;
  text-align: left;
  display: inline;
}
.application-project .project__card--content > h3 {
  display: inline-block;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  margin-top: 29.81px;
  margin-left: 24.42px;
}
.application-project .project__card--content > h4 {
  margin-top: 26px;
}
.application-project .project + .project {
  margin-top: 24px;
}

.card_content {
  margin-top: 25.99px;
  margin-left: 26.37px;
}
.card_content > h4 {
  margin-bottom: 16px;
}
.card_content > p {
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.app-card {
  transform: rotate(-1deg);
}

.app-card1 {
  position: relative;
  margin-top: 32px;
  transform: rotate(4deg);
}

.app-card2 {
  position: relative;
  transform: rotate(-2deg);
}

/* btn switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  top: 3px;
  margin-right: 16px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: -2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .application-project {
    justify-content: center;
    justify-items: center;
    display: inline;
  }
  .application-project .project {
    position: relative;
    justify-content: center;
    justify-items: center;
    gap: 24px;
    display: flex;
    margin-top: 80px;
  }
  .application-project .project__img {
    height: auto;
    max-width: 100%;
    position: absolute;
    display: none;
    left: -30%;
    top: -26%;
  }
  .application-project .project__img1 {
    position: absolute;
    display: none;
    left: -22%;
    bottom: -67%;
  }
  .application-project .project__img2 {
    display: block;
    position: absolute;
    left: 9%;
    top: -62%;
  }
  .application-project .project__img3 {
    display: block;
    position: absolute;
    top: -62%;
  }
}
.images {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 80px 80px 0px 80px;
}
.images .container__images {
  display: flex;
  align-items: center;
}
.images .container__images--button {
  height: auto;
  display: inline;
  margin-right: 48px;
}
.images .container__images--rectangle {
  height: auto;
  display: inline;
}
.images .container__images--rectangle > img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
}
.images .container__images--rectangle > p {
  margin-top: 16px;
  text-align: center;
  color: #c8c7d8;
  font-size: 14px;
  font-weight: 450;
}
.images .container__images--avatar {
  height: auto;
  display: inline;
}
.images .container__images--avatar > img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
}

.funded-top {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 80px;
  max-width: 808px;
  margin-left: 116px;
}

.funded-title {
  justify-content: center;
  justify-items: center;
  display: inline;
}
.funded-title .title__top {
  justify-content: center;
  justify-items: center;
  display: inline;
  text-align: left;
}
.funded-title .title__top--category {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(165, 158, 186);
}
.funded-title .title__top--h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center;
  font-family: Circular, sans-serif;
}

.funded-tile {
  max-width: 808px;
  margin-top: 80px;
}

.funded-badge {
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.container__titledis {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: left;
  font-family: Circular, sans-serif;
}
.container__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #C8C7D8;
  text-align: left;
  display: flex;
  font-family: Circular;
  margin-top: 16px;
}
.container__text--category {
  font-family: Space mono;
}
.container__text1 {
  margin-left: 16px;
  margin-top: 4px;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #C8C7D8;
  font-family: Circular, sans-serif;
}
.container__text1--fun2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 8px;
}
.container__text-content {
  display: inline;
}
.container__text-content--des {
  font-weight: 700;
  font-size: 20px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: left;
  font-family: Circular, sans-serif;
}
.container__text-content--des2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: left;
  font-family: Circular, sans-serif;
}
.container__text-content--des1 {
  margin-top: 32px;
}
.container__text-content--link {
  display: flex;
}
.container__text-content--link + .container__text-content--link {
  margin-top: 16px;
}
.container__badge {
  background-color: #16b57f;
  width: 136px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  gap: 16px;
  border-radius: 100px;
  border: 1px;
  opacity: 0px;
}
.container__badge--text {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #FFFFFF;
}
.container__badge--text > img {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}
.container__btn {
  margin-left: 300px;
  height: 48px;
  border-radius: 7.29px;
  padding: 12px 16px;
  gap: 12px;
  display: flex;
  background-color: #6966FF;
}
.container__btn--apply {
  color: #ffffff;
}
.container__btn > img {
  margin-top: 4px;
}
.container__avatar {
  display: flex;
  margin-top: 24px;
}
.container__avatar--badge {
  display: flex;
  width: 193px;
  border-radius: 100px;
  padding: 8px 24px 8px 8px;
  gap: 16px;
  background-color: rgb(57, 57, 83);
}
.container__avatar--badge > img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.container__avatar--badge + .container__avatar--badge {
  margin-left: 16px;
}
.container__avatar--badge1 {
  display: flex;
  border-radius: 100px;
  padding: 8px 24px 8px 8px;
  gap: 16px;
  background-color: rgb(57, 57, 83);
}
.container__avatar--badge1 > img {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 4px;
}
.container__avatar--badge1 + .container__avatar--badge1 {
  margin-left: 16px;
}
.container__avatar--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 8px;
  font-family: Circular, sans-serif;
}

.divider {
  border-top: 1px solid rgb(57, 57, 83);
}
.divider--no-space {
  margin: 0;
}

.abc {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 40px;
}

.content-funded {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 808px;
}

.funded-content {
  justify-content: center;
  justify-items: center;
  display: inline;
}

.link-useful {
  display: flex;
}
.link-useful > a {
  color: #6966ff;
}
.link-useful > img {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .funded__container {
    padding: 20px;
  }
  .funded-badge {
    margin-top: 24px;
    margin-bottom: 24px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 100%;
    margin: 0;
  }
  .container__titledis {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 24px;
  }
  .container__text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .container__text--category {
    text-align: center;
    justify-content: center;
    justify-items: center;
  }
  .container__badge {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container__badge--text {
    font-size: 14px;
    line-height: 20px;
  }
  .container__text1 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .container__text1--fun {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 12px;
    font-size: 14px;
  }
  .container__text1--fun2 {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 16px;
    margin-left: 0;
  }
  .container__btn {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container__btn--apply {
    font-size: 14px;
    padding: 10px 16px;
    margin: 0;
  }
  .container__avatar {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .container__avatar--badge {
    width: 100%;
    margin-bottom: 16px;
  }
  .container__avatar--badge1 {
    margin-bottom: 16px;
  }
  .container__avatar--text {
    font-size: 14px;
    text-align: center;
  }
  .container__avatar .container__avatar--badge + .container__avatar--badge {
    margin-left: 0;
  }
  .divider {
    margin: 20px 0;
  }
  .abc {
    padding: 20px;
  }
  .content-funded {
    width: 100%;
    padding: 0;
  }
  .funded-content {
    display: block;
  }
  .link-useful {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .link-useful > a {
    font-size: 14px;
  }
  .link-useful > img {
    margin: 10px 0;
  }
}
.title__janecooper {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.022em;
  text-align: center;
  color: #FFFFFF;
  margin-left: 60px;
}

.title-grantee {
  display: flex;
  justify-content: center;
  justify-items: center;
  max-width: 808px;
}

.content__grantee {
  display: inline;
  justify-content: center;
  justify-items: center;
}
.content__grantee--about {
  margin-top: 40px;
  text-align: left;
  justify-content: center;
  justify-items: center;
}
.content__grantee--about > h3 {
  text-align: left;
  margin-bottom: 16px;
}

.program {
  margin-top: 80px;
}

.content__container1 {
  max-width: 808px;
  margin-top: 80px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.icon-content {
  background-color: rgb(57, 57, 83);
  padding: 12px 16px 12px 16px;
  border-radius: 100px;
  width: 231px;
}
.icon-content > img {
  margin-right: 16px;
  height: 34px;
  width: 34px;
}

.content__container2 {
  max-width: 808px;
  margin-top: 24px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.container1__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  color: #FFFFFF;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container1__button {
  padding: 12px 16px;
  border-radius: 7.29px;
  gap: 4px;
  background-color: rgb(57, 57, 83);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border: none;
  font-family: Circular, sans-serif;
}
.container1__titledis {
  font-weight: 700;
  font-size: 60px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container1__titlelg {
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container1__titledis1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: left;
  font-family: Circular, sans-serif;
}
.container1__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #C8C7D8;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container1__text1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #C8C7D8;
  text-align: left;
  font-family: Circular, sans-serif;
}
.container1__linetext {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  right: 27%;
}

.blog-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.blog-project .project {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-right: 24px;
}
.blog-project .project__card {
  width: 392px;
  height: 440px;
  border-radius: 16px;
  border: none;
  background-color: rgb(57, 57, 83);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.blog-project .project__card--content {
  width: 100%;
  gap: 16px;
  text-align: left;
}
.blog-project .project__card--content > img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
.blog-project .project__card--link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.blog-project .project__card--icon {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
}
.blog-project .project__card--icon > img {
  border-radius: 100%;
  margin-right: -12px;
  width: 32px;
  height: 32px;
}
.blog-project .project__card--icon > img:last-child {
  margin-right: 0;
}
.blog-project .project__card1 {
  width: 392px;
  height: 250px;
  border-radius: 16px;
  border: none;
  background-color: rgb(35, 35, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.blog-project .project__card1--content {
  position: absolute;
  left: 129px;
  top: 86px;
  width: 100%;
  gap: 16px;
  text-align: left;
}
.blog-project .project__card1--content > img {
  max-width: 100%;
  height: auto;
}
.blog-project .project__card1--icon {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
}
.blog-project .project__card1--icon > img {
  border-radius: 100%;
  margin-right: -12px;
  width: 44px;
  height: 44px;
}
.blog-project .project__card1--icon > img:last-child {
  margin-right: 0;
}
.blog-project .project__text {
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  color: #FFFFFF;
}
.blog-project .project__text1 {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 450;
  line-height: 24px;
  color: #FFFFFF;
}
.blog-project .project + .project .project__card1 {
  background-color: #FFFFFF;
}
.blog-project .project1 {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-right: 24px;
}
.blog-project .project1__card1 {
  width: 253px;
  height: 178px;
  border-radius: 16px;
  border: none;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.blog-project .project1__card1--content {
  position: absolute;
  left: 82.5px;
  top: 46px;
  width: 100%;
  gap: 16px;
  text-align: left;
}
.blog-project .project1__card1--content > img {
  max-width: 100%;
  height: auto;
}
.blog-project .project1__card1--icon {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
}
.blog-project .project1__card1--icon > img {
  border-radius: 100%;
  margin-right: -12px;
  width: 44px;
  height: 44px;
}
.blog-project .project1__card1--icon > img:last-child {
  margin-right: 0;
}
.blog-project .project1__text {
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  color: #FFFFFF;
}
.blog-project .project + .project .project__card1 {
  background-color: #FFFFFF;
}

.card__content--img {
  height: 178.98px;
  margin: 0px 0px 24px 0px;
  border-radius: 16px;
  background-color: rgb(35, 35, 52);
  text-align: center;
  display: flex;
}

/* Responsive for mobile */
@media (min-width: 376px) and (max-width: 768px) {
  .blog-project {
    flex-direction: column;
    align-items: center;
  }
  .project {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
  }
  .project__card {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
