@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  border: 3px none var(--medium-slate-blue);
  background-color: #1c1c28;
  color: #c8c7d8;
  letter-spacing: -0.022em;
  background-image: url(../assets/images/background.svg);
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-size: 1440px;
  background-attachment: scroll;
  font-family: Circular, sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}

.container {
  max-width: 1376px;
  margin: auto;
}

.header {
  margin-top: 24px;
  position: relative;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}
.header-menu-item {
  text-decoration: none;
}
.header-menu-link {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #C8C7D8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 24px;
  text-transform: capitalize;
  cursor: pointer;
}
.header-menu-button {
  background-color: #6966FF;
  padding: 16px 12px;
  font-family: "Circular", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 7.29px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  outline: none;
}
.header-menu-button:hover {
  background-color: #4f4dff;
}

.header__container {
  max-width: 1376px;
  height: 72px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__container {
  max-width: 808px;
  margin-top: 80px;
}

.container__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  color: #FFFFFF;
  text-align: center;
  font-family: Circular, sans-serif;
}
.container__linetext {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  right: 27%;
}
.container__button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.container__button--discover, .container__button--apply {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: "Circular", sans-serif;
  cursor: pointer;
}
.container__button--discover:hover, .container__button--apply:hover {
  opacity: 0.8;
}
.container__button--discover {
  background-color: #393953;
  color: #FFFFFF;
  padding: 12px 39px;
  border-radius: 7.29px;
}
.container__button--apply {
  background-color: #6966FF;
  color: #FFFFFF;
  padding: 12px 39px;
  border-radius: 7.29px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.container__quantity {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__quantity--item {
  font-family: "Space Mono", monospace;
  text-align: center;
}
.container__quantity--item .number-quantity {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}
.container__quantity--item .text-quantity {
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  color: #C8C7D8;
}

.Content {
  width: 1440px;
  height: 264px;
  gap: 80px;
  display: flex;
}
.Content__title {
  width: 808px;
  height: 144px;
  gap: 40px;
  margin-left: 316px;
  margin-top: 80px;
}
.Content__title--dis1 {
  font-family: Circular Std;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.022em;
  text-align: center;
  color: #FFFFFF;
  width: 683px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  margin-left: 62.5px;
}
.Content__title--dis2 {
  font-family: Circular Std;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: center;
  color: #C8C7D8;
  width: 808px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  margin-top: 24px;
}

.Filter {
  width: 1440px;
  height: 48px;
  gap: 80px;
  display: flex;
}
.Filter__button {
  width: 395px;
  height: 48px;
  gap: 24px;
  margin-left: 522.5px;
}
.Filter__button--all {
  width: 52px;
  height: 48px;
  gap: 4px;
  border-radius: 7.29px;
  padding: 12px 16px 12px 16px;
  gap: 4px;
  opacity: 0px;
  background-color: #393953;
  color: #FFFFFF;
  border: none;
}
.Filter__button--open {
  width: 72px;
}
.Filter__button--funded {
  width: 86px;
}
.Filter__button--complete {
  width: 113px;
}
.Filter__button--open, .Filter__button--funded, .Filter__button--complete {
  margin-left: 19px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  gap: 4px;
  border-radius: 7.29px;
  opacity: 0px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border: 0;
}

.Discover {
  width: 1, 440px;
  height: 1, 912px;
  gap: 24px;
  opacity: 0px;
  display: inline;
}
.Discover__Frame {
  width: 808px;
  height: 1, 752px;
  gap: 24px;
  opacity: 0px;
  margin-top: 80px;
  margin-left: 316px;
  display: flex;
}
.Discover__Frame--content {
  width: 808px;
  height: 168px;
  border-radius: 16px;
  gap: 32px;
  opacity: 0px;
  background-color: #393953;
  display: inline;
}
.Discover__Frame--content1 {
  width: 808px;
  height: 144px;
  border-radius: 16px;
  gap: 32px;
  opacity: 0px;
  background-color: #393953;
  display: inline;
}
.Discover__Frame + .Discover__Frame {
  margin-top: 24px;
}

.content-title {
  width: 643px;
  height: 120px;
  gap: 8px;
  opacity: 0px;
  margin-left: 24px;
  margin-top: 24px;
  background-color: #393953;
  float: left;
}
.content-title__fun1 {
  font-family: Circular Std;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.019em;
  text-align: left;
  background-color: #393953;
  color: #FFFFFF;
}
.content-title__fun2 {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  margin: 8px 8px 0px 0px;
  background-color: #393953;
  color: #FFFFFF;
}
.content-title__fun3 {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: flex;
  margin: 8px 8px 0px 0px;
  background-color: #393953;
  color: #C8C7D8;
}
.content-title__fun5 {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  margin: 0px 8px 0px 0px;
  background-color: #393953;
  color: #FFFFFF;
}

.badge {
  width: 85px;
  height: 32px;
  padding: 4px 16px 4px 16px;
  gap: 16px;
  border-radius: 100px;
  border: 1px;
  opacity: 0px;
  margin-top: 24px;
  background-color: #1c1c28;
  display: flex;
}
.badge__text {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #FFFFFF;
}

.badge1 {
  background-color: #6966FF;
}

.badge2 {
  width: 136px;
  background-color: #16b57f;
}
.badge2 > img {
  margin-left: 8px;
  margin-top: 4px;
}

@media all and (max-width: 1000px) {
  .Discover__Frame--content {
    width: 272px;
    height: 284px;
  }
  .Discover__Frame--content1 {
    width: 272px;
    height: 248px;
  }
  .content-title {
    width: 224px;
    height: 156px;
    display: inline;
  }
  .content-title__fun1 {
    font-size: 20px;
  }
  .content-title__fun2 {
    font-size: 14px;
  }
  .content-title__fun3 {
    font-size: 14px;
    display: inline;
    margin-left: 0px;
  }
  .badge {
    display: inline-block;
    margin-top: 16px;
    margin-left: 24px;
  }
}
/* Space Mono font */
/* Nanum Pen Script font */
/* CircularStd font */
@font-face {
  font-family: "CircularStd";
  src: url("../../../assets/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../../../assets/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../../../assets/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/* Typography */
h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.021em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.022em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}

.text--paragraph-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--paragraph-md {
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}
.text--paragraph-sm {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--mono-xl {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: "Space Mono", monospace;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--mono-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #c8c7d8;
  text-align: center;
  font-family: "Space Mono", monospace;
}
.text--mono-md {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #a59eba;
  text-align: left;
  font-family: "Space Mono", monospace;
}
.text--mono-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: "Space Mono", monospace;
  text-align: left;
  font-family: "CircularStd", sans-serif;
}
.text--label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text--link-lg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #6966ff;
  text-align: center;
  font-family: "CircularStd", sans-serif;
}
.text-brand {
  color: #6966ff;
}
.text-primary {
  color: #ffffff;
}
.text-secondary {
  color: #c8c7d8;
}
.text-tertiary {
  color: #a59eba;
}

@media all and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
.content__title {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.content__title--image {
  margin-top: 78px;
  margin-bottom: 40px;
}
.content__title--images {
  width: 62.5px;
  height: 60px;
  margin-top: -35px;
  margin-left: 405px;
}
.content__title--body {
  font-family: "Circular", sans-serif;
}
.content__title--body .h1-title {
  color: #FFFFFF;
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
}
.content__title--body .p-title {
  color: #c8c7d8;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 24px;
}
.content__title--body .span-title {
  gap: 8px;
  color: #6966FF;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grants__container {
  max-width: 1640px;
  margin: auto;
  text-align: center;
  margin-left: 108px;
  margin-top: 80px;
}
.grants__container--list-card {
  width: 1224px;
  height: 560px;
  display: flex;
}

.card {
  width: 392px;
  border-radius: 16px;
  background-color: #4f4c64;
}
.card__content {
  text-align: left;
  width: 344px;
  height: 448px;
  margin: 24px 24px;
}
.card__content--img {
  width: 392px;
  height: 178.98px;
  margin: -24px;
  border-radius: 16px;
  background-color: #232334;
}
.card__footer {
  padding: 16px;
}

.card + .card {
  margin-left: 24px;
}

.mt {
  margin-top: 48px;
}

.what-new {
  width: 600px;
  height: 160px;
  margin-top: 80px;
}

.content__title--images {
  width: 62.5px;
  height: 60px;
  margin-top: -45px;
  margin-left: 405px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #6966ff;
  color: #ffffff;
}
.avatar__count {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-group {
  display: flex;
  align-items: center;
}
.avatar-group > .avatar {
  margin-right: -18px;
  border: 2px solid #393953;
}
.avatar-group > .avatar:last-child {
  margin-right: 0;
}

.cta {
  width: 1224px;
  height: 248px;
  margin: 80px 108px;
  background: linear-gradient(325.79deg, #6966ff 24.5%, rgba(105, 102, 255, 0.36) 117.69%);
  border-radius: 16px;
  border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 40px 16px;
  display: inline-block;
}
.cta__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.017em;
  text-align: center;
  color: #ffffff;
}
.cta__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #ffffff;
}
.cta .btn.btn-cta {
  background-color: #fff;
  color: #6966ff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 7.29px;
  line-height: 20px;
  letter-spacing: -0.011em;
  text-align: center;
  width: 169px;
  height: 48px;
  margin: 40px 527.5px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

@media all and (max-width: 1000px) {
  .cta {
    width: 272px;
    height: 256px;
  }
  .cta .btn.btn-cta {
    margin: 40px 0px 0px 0px;
    display: flex;
    width: 240px;
    height: 40px;
    padding: 10px 50px;
  }
}
.footer {
  margin-top: 24px;
  position: relative;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  list-style-type: none;
}
.footer-menu-item {
  text-decoration: none;
}
.footer-menu-link {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  color: #C8C7D8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 32px;
}
.footer-menu-button {
  background-color: #6966FF;
  padding: 16px 12px;
  font-family: "Circular", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 7.29px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  outline: none;
}
.footer-menu-button:hover {
  background-color: #4f4dff;
}
.footer-icon > img {
  margin-left: 32px;
}

.footer__container {
  max-width: 1440px;
  height: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 108px;
}

@media all and (max-width: 1000px) {
  .footer-menu {
    display: inline;
  }
  .footer-menu-item {
    text-decoration: none;
    margin-bottom: 24px;
  }
  .footer__container {
    display: inline;
  }
}

/*# sourceMappingURL=styles.css.map */
