.content__container1 {
    max-width: 808px;
    margin-top: 80px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}
.icon-content {
    background-color: $color-bg-secondary;
    padding: 12px 16px 12px 16px;
    border-radius: 100px;
    width: 231px;
    & > img {
        margin-right: 16px;
        height: 34px;
        width: 34px;
    }
}
.content__container2 {
    max-width: 808px;
    margin-top: 24px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}
.container1 {
    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 88px;
        color: $white_color;
        text-align: center;
        font-family: Circular, sans-serif;
    }
    &__button {
        padding: 12px 16px;
        border-radius: 7.29px;
        gap: 4px;
        background-color: $button_color_1;
        color: $white_color;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        border: none;
        font-family: Circular, sans-serif;
    }
    &__titledis {
        font-weight: 700;
        font-size: 60px;
        line-height: 48px;
        color: $white_color;
        text-align: center;
        font-family: Circular, sans-serif;
    }
    &__titlelg {
        font-weight: 700;
        font-size: 40px;
        line-height: 72px;
        color: $white_color;
        text-align: center;
        font-family: Circular, sans-serif;
    }
    &__titledis1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        color: $white_color;
        text-align: left;
        font-family: Circular, sans-serif;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $text_header;
        text-align: center;
        font-family: Circular, sans-serif;
    }
    &__text1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $text_header;
        text-align: left;
        font-family: Circular, sans-serif;
    }

    &__linetext {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: auto;
        right: 27%;
    }
}
//blog

// .blog-project {
//     justify-content: center;
//     justify-items: center;
//     display: inline;
//     .project {
//         justify-content: center;
//         justify-items: center;
//         gap: 24px;
//         display: flex;
//         margin-top: 80px;
//         &__card {
//             width: 392px;
//             height: 560px;
//             border-radius: 16px;
//             border: none;
//             background-color: $color-bg-secondary;
//             &--content {
//                 height: auto;
//                 gap: 16px;
//                 text-align: left;
//                 display: inline;
//                 & > img {
//                     max-width: 100%; // Cho phép hình ảnh thu nhỏ theo chiều rộng của container
//                     height: auto;
//                     border-radius: 16px;
//                     text-align: center;
//                     justify-content: center;
//                     display: flex;
//                 }
//             }
//             &--icon {
//                 margin-left: 24px;
//                 margin-top: 24px;
//                 display: flex;
//                 width: 26px;
//                 height: 32px;
//                 margin-top: 24px;
//                 & > img {
//                     border-radius: 100%;
//                     margin-right: -18px;
//                     &:last-child {
//                         margin-right: 0;
//                     }
//                 }
//             }
//         }
//     }
//     .project + .project {
//         margin-top: 24px;
//     }
// }
// @media all and (max-width: 576px) {
//     .blog-project {
//         text-align: center;
//         justify-items: center;
//         display: inline;
//         margin-top: 80px;
//         .project {
//             justify-content: center;
//             justify-items: center;
//             gap: 24px;
//             display: inline;
//             margin-top: 80px;
//         }
//     }
// }
.blog-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    .project {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin-right: 24px;
        // margin-top: 80px;
        &__card {
            width: 392px;
            height: 440px;
            border-radius: 16px;
            border: none;
            background-color: $color-bg-secondary;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            cursor: pointer;
            &--content {
                width: 100%;
                gap: 16px;
                text-align: left;
                & > img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 16px;
                }
            }
            &--link {
                text-decoration: none;
                color: inherit;
                display: block;
            }

            &--icon {
                position: absolute;
                bottom: 24px;
                left: 24px;
                // margin-left: 24px;
                // margin-top: 24px;
                display: flex;
                & > img {
                    border-radius: 100%;
                    margin-right: -12px;
                    width: 32px;
                    height: 32px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__card1 {
            width: 392px;
            height: 250px;
            border-radius: 16px;
            border: none;
            background-color: $color-bg-img;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &--content {
                position: absolute;
                left: 129px;
                top: 86px;
                width: 100%;
                gap: 16px;
                text-align: left;
                & > img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &--icon {
                position: absolute;
                top: 16px;
                right: 16px;
                // margin-left: 24px;
                // margin-top: 24px;
                display: flex;
                & > img {
                    border-radius: 100%;
                    margin-right: -12px;
                    width: 44px;
                    height: 44px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__text {
            font-size: 16px;
            font-weight: 450;
            line-height: 24px;
            color: $white_color;
        }
        &__text1 {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 450;
            line-height: 24px;
            color: $white_color;
        }
    }
    .project + .project {
        .project__card1 {
            background-color: $white_color;
        }
        // margin-top: 24px;
    }
    .project1 {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        margin-right: 24px;
        // margin-top: 80px;
        &__card1 {
            width: 253px;
            height: 178px;
            border-radius: 16px;
            border: none;
            background-color: $white_color;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &--content {
                position: absolute;
                left: 82.5px;
                top: 46px;
                width: 100%;
                gap: 16px;
                text-align: left;
                & > img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &--icon {
                position: absolute;
                top: 16px;
                right: 16px;
                // margin-left: 24px;
                // margin-top: 24px;
                display: flex;
                & > img {
                    border-radius: 100%;
                    margin-right: -12px;
                    width: 44px;
                    height: 44px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__text {
            font-size: 16px;
            font-weight: 450;
            line-height: 24px;
            color: $white_color;
        }
    }
    .project + .project {
        .project__card1 {
            background-color: $white_color;
        }
        // margin-top: 24px;
    }
}
.card__content--img {
    height: 178.98px;
    margin: 0px 0px 24px 0px;
    border-radius: 16px;
    background-color: $color-bg-img;
    text-align: center;
    display: flex;
}

/* Responsive for mobile */
@media (min-width: 376px) and (max-width: 768px) {
    .blog-project {
        flex-direction: column;
        align-items: center;
    }

    .project {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 24px;
    }
    .project__card {
        width: 100%;
        height: auto;
    }
}
