.filter {
    justify-content: center;
    display: flex;
    justify-items: center;
    margin-top: 40px;
}
.filter__button {
    gap: 24px;
    display: flex;
    .button {
        width: 395px;
        gap: 4px;

        &__all {
            background-color: $button_color_1;
            color: $white_color;
        }
        &__open {
            background-color: transparent;
        }
        &__funded {
            background-color: transparent;
        }
        &__complete {
            background-color: transparent;
        }
        &__open,
        &__funded,
        &__complete,
        &__all {
            cursor: pointer;
            gap: 4px;
            font-size: 16px;
            border-radius: 7.29px;
            padding: 12px 16px;
            border: none;
            color: $white_color;
            border: none;
            border: 0;
        }
    }
}
.discover {
    justify-content: center;
    display: inline;
    justify-items: center;

    .discover__frame {
        margin-top: 80px;
        gap: 24px;
        display: flex;
        justify-items: center;
        justify-content: center;

        & > a {
            text-decoration: none;
        }
        &--content {
            padding: 24px;
            width: 808px;
            border-radius: 16px;
            gap: 32px;
            opacity: 0px;
            background-color: $button_color_1;
            display: flex;
            background-color: $color-bg-secondary;
        }

        &--content1 {
            padding: 24px;
            width: 808px;
            border-radius: 16px;
            gap: 32px;
            opacity: 0px;
            background-color: $button_color_1;
            background-color: $color-bg-secondary;
            display: flex;
        }

        &--content2 {
            padding: 24px;
            width: 808px;
            border-radius: 16px;
            gap: 32px;
            opacity: 0px;
            background-color: $button_color_1;
            display: flex;
            background-color: $color-bg-secondary;
        }
        &--content3 {
            padding: 24px;
            width: 808px;
            border-radius: 16px;
            gap: 32px;
            opacity: 0px;
            background-color: $button_color_1;
            display: flex;
            background-color: $color-bg-secondary;
        }
    }

    &__frame + &__frame {
        margin-top: 24px;
    }
    .badge {
        cursor: pointer;
        width: 85px;
        height: 32px;
        padding: 4px 16px 4px 16px;
        gap: 16px;
        border-radius: 100px;
        border: 1px;
        opacity: 0px;
        margin-top: 24px;
        background-color: $black;
        display: flex;

        &__text {
            font-family: Circular Std;
            font-size: 16px;
            font-weight: 450;
            line-height: 24px;
            letter-spacing: -0.011em;
            text-align: center;
            color: $white_color;
        }
    }

    .badge1 {
        background-color: $button_color;
    }
    .badge2 {
        width: 136px;
        background-color: $color-accent-green;
        & > img {
            margin-left: 8px;
            margin-top: 4px;
        }
    }
    .badge-funded {
        width: 148px;
        height: 32px;
        padding: 4px 16px 4px 16px;
        gap: 16px;
        border-radius: 100px;
        border: 1px;
        opacity: 0px;
        margin-top: 24px;
        margin-left: 32px;
        display: flex;
        & > img {
            margin-bottom: 4px;
            margin-left: 8px;
        }
    }
}
.content-title {
    width: 643px;
    gap: 8px;
    opacity: 0px;
    margin-left: 24px;
    background-color: $button_color_1;
    display: inline;

    &__fun1 {
        font-family: Circular Std;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.019em;
        text-align: left;
        background-color: $button_color_1;
        color: $white_color;
    }
    &__fun2 {
        font-family: Circular Std;
        font-size: 16px;
        font-weight: 450;
        line-height: 24px;
        letter-spacing: -0.011em;
        text-align: left;
        margin: 8px 8px 0px 0px;
        background-color: $button_color_1;
        color: $white_color;
    }
    &__fun3 {
        font-family: Space Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        display: flex;
        margin: 8px 8px 0px 0px;
        background-color: $button_color_1;
        color: $text_header;
    }

    &__fun5 {
        font-family: Circular Std;
        font-size: 16px;
        font-weight: 450;
        line-height: 24px;
        letter-spacing: -0.011em;
        text-align: left;
        margin: 0px 8px 0px 0px;
        background-color: $button_color_1;
        color: $white_color;
    }
}
.content-title1 {
    width: 550px;
    gap: 8px;
    opacity: 0px;
    margin-left: 24px;
    background-color: $button_color_1;
    display: inline;

    &__fun1 {
        font-family:
            Circular Std,
            sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.019em;
        text-align: left;
        background-color: $button_color_1;
        color: $white_color;
    }

    &__fun2 {
        font-family:
            Circular Std,
            sans-serif;
        font-size: 16px;
        font-weight: 450;
        line-height: 24px;
        letter-spacing: -0.011em;
        text-align: left;
        margin: 8px 8px 0px 0px;
        background-color: $button_color_1;
        color: $white_color;
    }

    &__fun3 {
        font-family: Space Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        display: flex;
        margin: 8px 8px 0px 0px;
        background-color: $button_color_1;
        color: $text_header;
    }

    &__fun5 {
        font-family:
            Circular Std,
            sans-serif;
        font-size: 16px;
        font-weight: 450;
        line-height: 24px;
        letter-spacing: -0.011em;
        text-align: left;
        margin: 0px 8px 0px 0px;
        background-color: $button_color_1;
        color: $white_color;
    }
}

.badge-funded1 {
    width: 22%;
    height: 32px;
    gap: 16px;
    border-radius: 100px;
    border: 1px;
    opacity: 0px;
    margin-left: 32px;
    display: flex;

    & > img {
        height: 20px;
        margin-bottom: 4px;
        margin-left: 8px;
    }
}

@media (max-width: 368px) {
    .discover {
        display: flex;
        flex-direction: column;
        align-items: center;

        .discover__frame {
            width: 100%;
            margin-top: 24px;
            display: flex;

            &--content,
            &--content1,
            &--content2,
            &--content3 {
                width: 272px;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            &--content2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: left;
            }
            &--content3 {
                display: inline;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: left;
            }
        }
    }

    .content-title1 {
        width: 100%;
        text-align: center;
        margin-left: 0;
        &__fun1 {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -1.1%;
        }

        &__fun2 {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.6%;
        }

        &__fun3 {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .badge-funded1 {
        margin-left: 0;
        justify-content: center;
        & > img {
            display: none;
        }
    }
}
@media (min-width: 376px) and (max-width: 768px) {
    .discover {
        display: flex;
        flex-direction: column;
        align-items: center;

        .discover__frame {
            width: 100%;
            margin-top: 24px;
            display: flex;

            &--content,
            &--content1,
            &--content2 {
                width: 80%;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            &--content2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: left;
            }
        }
    }

    .content-title1 {
        width: 100%;
        text-align: center;
        margin-left: 0;
        &__fun1 {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -1.1%;
        }

        &__fun2 {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.6%;
        }

        &__fun3 {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .badge-funded1 {
        margin-left: 0;
        justify-content: center;
        & > img {
            display: none;
        }
    }
}
